Use <strong>Watson Speech To Text</strong> service to fill out this form!
<br /><br />

<strong>To being recording,</strong> tap the <i class = "icon icon ion-mic-a"></i> icon.
You will start recording immediately!
<br /><br />

<strong>To stop recording,</strong> close the popup box that will appear!
Your data will automatically upload to Watson! Be patient!
<br /><br />

<strong>To upload a preexisting wav file,</strong> tap <i class = "icon icon ion-share"></i>
<br /><br />

<strong>To reset the recorder,</strong> tap <i class = "icon icon ion-android-cancel"></i>
<br /><br />
When recording, say these key words:<br />
<ul>
  <li>Model</li>
  <li>Manufacturer</li>
  <li>Manufacturer Year</li>
  <li>Status</li>
</ul>
<!-- these keywords should be pulled from a single source! -->
