<ion-view view-title="Work Item" name="item">
  <ion-content class="padding">
     <span class="date">{{'1288323623006' | date:"MM/dd/yyyy 'at' h:mma"}}</span><br />
     <span class="street">123 Main Street</span><br />
     <div class="button-group">
        <div class="button-label">
            <label>Watson Image Recognition</label>
            <button class="button button-icon icon ion-android-camera" ng-click="openCamera()"/>
         </div>
         <div class="button-label">
             <label>Weather Insights</label>
             <button class="button button-icon icon ion-android-cloud"/>
          </div>
     </div>
     <div class="visit">
     <label class="input-label">Reason for visit</label>

         <select class="item item-input item-select" >
            <option selected>Scheduled</option>
            <option >Call out</option>
            <option >Other</option>
         </select>

   </div>
     <button class="button button-block button-calm" ng-click="reportEquipment(id)">Report Equipment</button>
  </ion-content>
</ion-view>
